
#Screen1st{
  height: 100;
  width:200px;
  margin:auto;
}
img {
  width : 100%;
  height: 100%; 
} 
.bot{
   width : 200px;
  height: 100px; 
  position: relative;
  border: none;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 15px;
  font-family: "paybooc-Light", sans-serif;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
  background-color: #6aafe6;
  color: #ffffff;
}
#foot{
  height: 100;
  width:100%;
  margin: 0 auto;
  position: fixed; 
  bottom: 0;
}
