#Screen2{
    height: 100;
    width:60%;
    margin: 0 auto;
  }
  #Screen2 h3{
    text-align: center;
  }
  #test_btn1{
    margin-right: -20%;
    margin-left: 20%;
    font-size:medium;
    background-image: url('../img/3B.png');
    border: 1px solid rgb(234, 234, 234); 
    color: rgb(0, 0, 0); 
    padding: 10px 24px;
    cursor: pointer; 
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  #test_btn2{
    margin-right: -20%;
    margin-left: 20%;
    font-size:medium;
    background-image: url('../img/3B.png');
    border: 1px solid rgb(234, 234, 234); 
    color: rgb(0, 0, 0); 
    padding: 10px 24px;
    cursor: pointer; 
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  /* #textimg{
    height: 50;
    width:80%;
  } */

  #question{
    height: 50;
    width:50%;
  }

    #cat{
      height: 50;
      width:10%;
      position: relative;
      animation-duration: 1s;
      animation-iteration-count: 1;
      animation-timing-function: ease-in;
      animation-fill-mode: backwords
    }



  .progress {
    width: 100%;
    height: 20px;
    box-shadow: 0px 0px 10px 0px #bdbdbd;
    padding: 0px 0px 0px 0px;
    color: rgb(255, 255, 255);
    background-color: rgb(255 255 255 / 20%);
    border-radius: 20px;
  }
  
  .progress::-webkit-progress-bar{
      width: 100%;
      height: 20px;
      width: 100%;
      height: 20px;
      background-color: #ffffff;
      border-radius: 30px;
  }
  
  
  .progress::-webkit-progress-value{
    width: 100%;
    height: px;
    padding: 0px 0px 0px 0px;
    color: rgb(255, 255, 255);
    background-color: rgb(96, 209, 246);
    border-radius: 30px;
  } 
  
  