#Screen2{
  height: 100;
  width:60%;
  margin: 0 auto;
}
.bot{
  background-color:rgb(245, 245, 255); 
  border: 1px solid rgb(234, 234, 234); 
  color: rgb(0, 0, 0); 
  padding: 10px 24px;
  cursor: pointer; 
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
progress {
  width: 100%;
  height: 50px;
}
progress::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 10px;
}

progress::-webkit-progress-value {
  background: linear-gradient(to top right, blue, lightgrey);
  border-radius: 10px;
}